body {
    margin: 0;
    font-family: Arial;
    background: #F0FFF0;
    color: #006400;
}
h1, h2 {
    font-family: Eco;
    color: #228B22;
}
a {
    color: #00FF00;
}
section {
    padding: 3rem;
}